/* COMMON */

body {
    font-family: Arial, sans-serif;
}
.button {
    border-radius: 20px;
    color: white;
}
.btn:hover {
    color: white;
}
.bg_black {
    background-color: black;
}
.btn_darkgray {
    background-color: #363636;
    margin: 0 20px;
}
.btn_darkgray:hover {
    box-shadow: inset 0px 0px 2px 2px #fff;
    opacity: .7;
}
.btn_orange {
    background-color: #cd3d0f;
}
.btn_orange:hover {
    box-shadow: inset 0px 0px 2px 2px black;
}
.btn_blue {
    background-color: #0072ce;
}
.btn_blue:hover {
    box-shadow: inset 0px 0px 2px 2px #fff;
}
.btn_big {
    font-size: 1.5rem;
    padding: 5px 20px;
}
.btn_ps_plus {
    background-color: #d9dadc;
    color: #2d64e6;
}
.btn_ps_plus:hover {
    box-shadow: inset 0px 0px 2px 2px #2d64e6;
    color: #2d64e6;
}
.btn_ps_now {
    background-color: #f5f5f5;
    color: #161c3b;
}
.btn_ps_now:hover {
    box-shadow: inset 0px 0px 2px 2px #161c3b;
    color: #161c3b;
}
.wrapper {
    padding: 50px 0;
    max-width: 1000px;
    width: 85%;
    margin: auto;
}
#hero_bottom button,
.playstation_5_slider button {
    border: none;
    background-color: transparent;
}
#hero,
#it-takes-two{
    color: white;
    background-size: cover;
    background-position: center;
}
.hero_content h1,
.hero_content h2,
.hero_content p,
.hero_content button {
    margin-left: 15px;
    margin-bottom: 30px;
}
.hero_content p {
    font-size: 1.2rem;
}
.hero_content img {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 40px;
}
.hero_content h1,
.hero_content h2 {
    font-size: 2.5rem;
}
.font_weight_700 {
    font-weight: 700;
}
#new_release h3,
#playstation_4 h3,
#socials h3 {
    font-size: 2.5rem;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #fff;
}
ul {
    list-style: none;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}
.header_top img {
    width: 6.5rem;
    margin: 10px 0;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.dropdown-toggle::after {
    content: url("../img/chevron-down-solid.svg");
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    border: none;
    vertical-align: bottom;
    transition: transform .3s;
}
.dropdown-toggle:focus::after {
    content: url("../img/chevron-down-solid-hover.svg");
    transform: rotate(180deg);
    margin-bottom: 2px; 
}
.dropdown, .dropend, .dropstart, .dropup {
    position: static;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu li{
    display: inline-block;
}
/* HERO */

#hero {
    background-image: url("../img/jumbo-bg.png");
    margin-top: 119px;
    margin-bottom: 20px;
    padding-top: 50px;
}
#hero .hero_content {
    padding: 250px 0 50px 0;
}

/* HERO BOTTOM */

#hero_bottom {
    margin-top: 40px;
}
.hero_bottom_content img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 3px;
    border: 3px solid transparent;
    margin-bottom: 20px;
}
#hero_bottom button {
    border: none;
    background-color: transparent;
}
.games-hover:focus #returnal-game,
.games-hover:focus #spiderman-game,
.games-hover:focus #horizon-game,
.games-hover:focus #ratchet-clank-game,
.games-hover:focus #fortnite-game,
.games-hover:focus #remnant-game {
    padding: 3px;
    border: 3px solid #0072ce;
}
.games-hover #returnal-game,
.games-hover #spiderman-game,
.games-hover #horizon-game,
.games-hover #ratchet-clank-game,
.games-hover #fortnite-game,
.games-hover #remnant-game {
    margin-top: 15px;
    transition: margin-top .4s;
}
.games-hover:hover #returnal-game,
.games-hover:hover #spiderman-game,
.games-hover:hover #horizon-game,
.games-hover:hover #ratchet-clank-game,
.games-hover:hover #fortnite-game,
.games-hover:hover #remnant-game {
    margin-top: 0;
}



/* PLAYSTATION 5 */

#playstation_5 {
    padding: 70px 0;
}
.playstation_5_intro {
    margin-bottom: 40px;
}
.playstation_5_intro h5 {
    color: #0072ce;
    font-size: 1rem;
    font-weight: 600;
}
.playstation_5_intro h2 {
    font-size: 2.5rem;
}
.playstation_5_intro p {
    font-size: 1.4rem;
    padding-top: 30px;
}
.playstation_img {
    width: 90%;
}
.playstation_5_info {
    display: flex;
    align-items: center;
}
.playstation_5_info h3 {
    font-size: 2.5rem;
}
.playstation_5_slider {
    margin-top: 30px;
}
.playstation_5_slider img{
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent;
    opacity: .6;
}
.playstation_5_slider_hover:focus img {
    padding-bottom: 20px;
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}

/* IT TAKES TWO  */

.bg_overlay_black {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
}
#it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}
#it-takes-two .hero_content {
    padding: 70px 0;
}

/* NEW RELEASE */

#new_release {
    background-color: #1f1f1f;
    color: #fff;
    padding: 40px 0;
}
#new_release h5 {
    font-size: 1.5rem;
    margin: 20px 0 40px 0;
}
.new_release_img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* EXPLORE PS4 */

#playstation_4 {
    padding: 40px 0;
}
#playstation_4 h5,
#playstation_4 p  {
    font-size: 1.5rem;
    color: #7c7c7c;
    margin: 20px 0;
}
.hex-code {
    font-size: 1.5rem;
    vertical-align: top;
}
#playstation_4 img {
    margin-top: 35px;
    width: 100%;
}

/* PLAYSTATION PLUS and PLAYSTATION NOW*/

#playstation_plus {
    background-color: #bebcbb;
}
.ps-plus-info,
.ps-now-info {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.ps-plus-info img,
.ps-now-info img {
    width: 80%;
}
#playstation_plus p {
    font-size: 1.1rem;
    margin: 20px 0 30px 0;
}
#playstation_plus .ps-plus-banner,
#playstation_now .ps-now-banner {
    width: 100%;
    height: 100%;
    padding: 0;
}

/* PLAYSTATION_SALES */

#playstation_sales {
    padding: 60px 0;
}

#playstation_sales img{
    width: 100%;
    padding-top: 50px;
}

/* PLAYSTATION NOW */

#playstation_now {
    background-color: #161c3b;
}

#playstation_now p {
    color: #f5f5f5;
    font-size: 1.1rem;
    margin: 30px 0;
}

/* SOCIALS */
#socials {
    padding: 50px 0;
}
#socials img {
    width: 25%;
    padding: 8px 8px;
}

.social_icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

/* FOOTER */

footer {
    background-color: #00439c;
    padding: 30px 0;
    color: #fff;
}

.footer_top .language_globe img {
    width: 1rem;
    margin: 20px 10px 20px 0;
}

.footer_top span {
    vertical-align: middle;
}

.footer_bottom img {
    width: 15%;
    margin: 15px 0;
}

.footer_bottom a {
    text-decoration: underline;
}

/* MEDIA QUERIES  */

@media screen and (min-width: 575px) {
    .social_icons {
        display: flex;
        justify-content: center;
        flex-wrap: no-wrap;
    }
}