/* COMMON */

body {
    font-family: Arial, sans-serif;
}
.bg_black {
    background-color: black;
}
.button {
    border-radius: 20px;
}
.btn_darkgray {
    background-color: #363636;
    color: white;
    margin: 0 20px;
}

/* HEADER */

.header_top img {
    width: 6.5rem;
    margin: 10px 0;
    display: inline-block;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

/* MAIN */

/* FOOTER */